<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tfm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="tfmwpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tfm.Properties.Settings>
            <setting name="GeonamesUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="FlightFollowing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadSimconnectMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGPWS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadILS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGroundSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMetric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingTimeInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ILSAnnouncementTimeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AttitudeAnnouncementMode" serializeAs="String">
                <value>Tones</value>
            </setting>
            <setting name="AltitudeAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadFlaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadAutopilot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAPISpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadNavRadios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBraille" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputHistoryLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="takeOffAssistMode" serializeAs="String">
                <value>off</value>
            </setting>
            <setting name="bingMapsAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PMDGCDUKeyLayout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AzureAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechSystem" serializeAs="String">
                <value>ScreenReader</value>
            </setting>
            <setting name="FallbackSpeechSystem" serializeAs="String">
                <value>ScreenReader</value>
            </setting>
            <setting name="AzureServiceRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsRequiresUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnouncePerfInitComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnounceTakeoffConfigComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayStartupSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayShutdownSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="P3DAirportsDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadLocaliserHeadingOffsets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadGSAltitude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechHistoryTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SapiILSAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VatsimMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avionics_tab" serializeAs="String">
                <value>simplified</value>
            </setting>
            <setting name="ShowFirstRunDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MSFSAirportsDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreflightAlignIRS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlowMuteSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimBriefUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSimBriefEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSimBriefUserIDValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </tfm.Properties.Settings>
        <tfmwpf.Properties.Settings>
            <setting name="GeonamesUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="FlightFollowing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadSimconnectMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGPWS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadILS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGroundSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMetric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingTimeInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ILSAnnouncementTimeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AttitudeAnnouncementMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AltitudeAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadFlaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadAutopilot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAPISpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadNavRadios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewAvionicsTab" serializeAs="String">
                <value />
            </setting>
            <setting name="AvionicsTabChangeFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBraille" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputHistoryLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="takeOffAssistMode" serializeAs="String">
                <value>off</value>
            </setting>
            <setting name="bingMapsAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PMDGCDUKeyLayout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AzureAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechSystem" serializeAs="String">
                <value>ScreenReader</value>
            </setting>
            <setting name="FallbackSpeechSystem" serializeAs="String">
                <value>ScreenReader</value>
            </setting>
            <setting name="AzureServiceRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsRequiresUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnouncePerfInitComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnounceTakeoffConfigComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayStartupSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayShutdownSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="P3DAirportsDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadLocaliserHeadingOffsets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadGSAltitude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechHistoryTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SapiILSAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VatsimMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avionics_tab" serializeAs="String">
                <value>simplified</value>
            </setting>
            <setting name="ShowFirstRunDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MSFSAirportsDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreflightAlignIRS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlowMuteSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimBriefUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSimBriefEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSimBriefUserIDValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </tfmwpf.Properties.Settings>
    </userSettings>
</configuration>